# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
TASK/

# Environment variables
.env

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Alembic
alembic/versions/

# DB
*.sqlite3

# Logs
*.log

# MacOS
.DS_Store

# React
node_modules/
build/
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# prevent sensitive files from being tracked
.env
node_modules/
dist/
build/
